main{
  height: 100vh;
  padding: 30px 0;
  background: linear-gradient(to top, #d8dbd5 80%, #009688 20%);
}

.container_fr{
  width: 80%;
  height: 100%;
  margin: 0 auto;

}

.app_window{
  width: 100%;
  min-width: 500px;
  height: 100%;
  margin: 0;
  background-color: azure;
}

/* ----- ASIDE ----- */

.aside{
  background-color: white;
  width: 35%;
}

.aside .bar_aside{
  width: 100%;
  height: 60px;
  padding: 0 10px;
  background-color: #eaeaea;
}

.avatar_me{
  height: 40px;
  vertical-align: middle;
}

.avatar_me img{
  width: 40px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.avatar_me span{
  vertical-align: middle;
  margin-left: 10px;
}

.option i{
  font-size: 1.3rem;
  margin: 0 10px;
  color: #b1b1b1;
}


.banner_notifications{
  width: 100%;
  height: 70px;
  padding-left: 15px;
  background-color: #8edafc;
}

.banner_notifications button{
  width: 45px;
  height: 45px;
  margin-right: 10px;
  background-color: white;
  color: #8edafc;
  border-radius: 50%;
  border: 0;
}

.banner_notifications button i{
  font-size: 1.2rem;
}

.banner_notifications span{
  display: block;
}

.banner_notifications span:last-child{
  font-size: 0.75rem;
  text-decoration: underline;
}

.banner_notifications a{
  color: blue;
}

.search_bar{
  width: 100%;
  height: 50px;
  background-color: #fafafa;
  display: grid;
  place-items: center;
  padding: 10px;
}

.search_bar button{
  width: 70px;
  background-color: white;
  border: white;
  font-size: 0.9rem;
  color: #b1b1b1;
}

.search_bar input{
  width: 100%;
  border: white;
  border-left: 1px solid #fafafa;
  font-size: 0.9rem;
}

.list_chats{
  width: 100%;
  height: calc(100% - 180px);
  overflow-y: scroll;
}

.list_chats .info_chat{
  width: 100%;
  height: 100%;
}

.list_chats ul{
  list-style-type: none;
  padding: 0;
}

.list_chats ul li{
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #fafafa;
}
/* 
.list_chats ul li.active{
  background-color: #fafafa;
} */

.list_chats .info_chat img{
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 10px;
}

.list_chats .info_chat span:last-child{
  color: lightgrey;

}

.last_access{
  position: absolute;
  right: 15px;
  font-size: 0.8rem;
  color: lightgrey;
}

/* ----- CHAT CONTENT ----- */

.chat{
  width: 65%;
  height: 100%;
}

.chat .bar_chat{
  width: 100%;
  height: 60px;
  padding: 0 10px;
  background-color: #eaeaea;
  border-left: 1px solid #dfdfdf;
  }

.avatar_chat img{
  width: 40px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.avatar_access span:last-child{
  font-size: 0.75rem;
  color: grey;
}


.chat_content{
  background-image: url(../img/mine.jpg);
  width: 100%;
  height: calc(100% - 130px);
  object-fit: cover;
  overflow-y: scroll;
}

.new_messagge{
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: #f3eeea;
  color: #6b7376;
}

.new_messagge input{
  width: 80%;
  height: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}

.new_messagge i{
  font-size: 1.5rem;
}

.sent{
  background-color: ;
}
